<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Conex" connectionString="Data Source= PC-DALZATE; Initial Catalog= JardinInfantil; Integrated Security=true" />
    <add name="Conex1" connectionString="Data Source=DIEGOALEJANDRO; Initial Catalog= JardinInfantil; UID = root; PWD = qwerty" />
  </connectionStrings>
</configuration>